on post-fs-data
    #Smart charging
    chown system system /sys/class/power_supply/battery/battery_charging_enabled
    chown 660 /sys/class/power_supply/battery/battery_charging_enabled
    chown system system /sys/class/power_supply/battery/charging_enabled
    chown 660 /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0660  /sys/class/power_supply/battery/input_suspend
